<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Writer Not Found</title>
</head>
<body>
    <br>
    <h1 style="text-align: center;">User Not Found</h1>
    <h3 style="text-align: center; color: plum; font-weight: bolder;"> <a href="/" style="text-decoration: none; ">Go Back Home</a></h3>
    <br>
</body>
</html>